{% extends "base.html" %}

{% block content %}

<div class="container contentarea">
    <div class="row">
        <div class="col-12 text-left">
            <div class="pageheader">О выставке</div>
            <div class="pagecontent">
                Выставка «Золотая осень» является одним из самых крупных и профессионально ориентированных мероприятий
                агропромышленного комплекса России. В 2022 году выставка проходит в 24-й раз, и с каждым годом интерес к
                ней неизменно растет. Ежегодно в мероприятии принимают участие сотни производителей из разных регионов
                России, представляя свою продукцию, проводятся презентации современной сельскохозяйственной техники,
                инновационных разработок и новейших технологий в сфере АПК.
                <br><br>
                На полях выставки всегда насыщенная деловая повестка: многочисленные форумы, круглые столы, панельные
                дискуссии, посвященные самым актуальным отраслевым темам, в которых ежегодно принимают участие
                руководители федеральных органов исполнительной власти, члены Правительства Российской Федерации,
                Государственной думы, Совета Федерации и руководители агропромышленных корпораций, банков, страховых
                компаний.

            </div>
        </div>
    </div>
</div>

{% endblock %}